<h1><%= config.title %></h1>
<ul>
<% page.posts.each(function(post){ %>
  <li>
    <a href="<%= url_for(post.path) %>"><%= post.title %></a>
    (<%= post.date.format('YYYY-MM-DD') %>)
  </li>
<% }); %>
</ul>
